VITE_SUPABASE_URL=https://znixysfntplucgaxpmzl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpuaXh5c2ZudHBsdWNnYXhwbXpsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3MTE3MTAsImV4cCI6MjA5NTI4NzcxMH0.jyVGJ5JJl2FzV36KuYv-KSfippeF8ZIibpyJVYIO2tc
GEMINI_API_KEY=AIzaSyCTJqDLA7GoKl6PkGSs5aGUWOrfSmAfVUI
